@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>德比斯红葡萄酒</title>
    <script src="/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="/Content/jsstorage/jquery.app.js"></script>
    <script src="/Content/jsstorage/layer_mobile/layer.js"></script>
    <link rel="stylesheet" href="/Content/xy/js/jquery-weui.css">
    <script src="/Content/xy/js/jquery-weui.js"></script>
    <script src="/Content/jsstorage/hj/city-picker.min.js"></script>
    <script src="/Content/jsstorage/hj/index.js"></script>
    <link href="/Content/jsstorage/layer_mobile/need/layer.css" rel="stylesheet" />

    <style>
        body, html {
            margin: 0;
            padding: 0;
            line-height: 1.5;
            font-size: 15px;
        }

        * {
            box-sizing: border-box;
        }

        img {
            border: none;
            width: 100%;
            display: block;
        }

        section {
            transition: transform 0.6s
        }

        .loading-bg {
            background: #f7f7f7 url(http://hjimg.andus-china.com/xy/loading.gif) no-repeat 50% 50%;
            overflow: hidden;
            transform: translateY(-10px);
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin: 15px 0;
        }

        td {
            padding: 10px;
            vertical-align: top;
            font-size: 18px;
        }

            td strong {
                color: red;
                display: inline-block;
                vertical-align: middle;
                padding-right: 4px;
            }

            td:first-child {
                text-align: right;
                padding-left: 0;
                padding-right: 0;
                line-height: 24px;
                padding-top: 15px;
            }

        .bg-red {
            background: red;
            color: #fff;
        }

        input, textarea {
            width: 100%;
            line-height: 18px;
            padding: 5px;
            padding-bottom: 10px;
            border: 1px solid #C6C6C6;
            border-radius: 4px;
            outline: none;
        }

            input:focus, textarea:focus {
                border-color: #33ccff
            }

        textarea {
            height: 100px;
        }

        .sale-type span {
            padding: 5px;
            display: inline-block;
            border-radius: 4px;
            margin-bottom: 5px;
            border: 1px solid #C6C6C6;
            color: #666;
        }

            .sale-type span.selected {
                background: red;
                color: #fff;
                border: 1px solid red;
            }

        .add-minus span, .add-minus input {
            display: inline-block;
            line-height: 20px;
            padding: 5px;
            vertical-align: middle;
            text-align: center;
        }

        .add-minus span {
            border: 1px solid #ddd;
            background: #eee;
            color: red;
            width: 30px;
        }

        .add-minus input {
            border-radius: 0;
            width: 60px;
            border-width: 1px 0;
        }

        .price {
            font-size: 18px;
            color: red;
            padding-top: 2px;
            display: inline-block;
        }

        .pt5 {
            display: inline-block;
            position: relative;
            top: 2px
        }

        .btmsg {
            border: 1px solid #EBD3D3;
            background: #FCEFDF;
            border-radius: 4px;
            padding: 15px;
            margin-top: 10px;
            color: #B70100;
        }

        .wrapper {
            margin: 0 auto;
            max-width: 750px;
        }
        		.js-gotoform{
			cursor:pointer;
		}
      .js-input2{
    width: 30%;
    line-height: 18px;
    padding: 5px;
    padding-bottom: 10px;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    outline: none;
}
    </style>
    
    </head>
<body>
    <div class="wrapper">
        <section><img src="http://hjimg.andus-china.com/xy/hj_01.jpg" data-ratio="0.344" data-src="http://hjimg.andus-china.com/xy/hj_01.jpg"></section>
        @*<section><img src="http://hjimg.andus-china.com/xy/hj_02.jpg" data-ratio="1.428" data-src="http://hjimg.andus-china.com/xy/hj_02.jpg"></section>*@
        <section><img src="http://hjimg.andus-china.com/xy/hj_03.jpg" data-ratio="1.504" data-src="http://hjimg.andus-china.com/xy/hj_03.jpg"></section>
        @*<section class="js-gotoform"><img src="http://hjimg.andus-china.com/xy/hj_04.jpg" data-ratio="0.452" data-src="http://hjimg.andus-china.com/xy/hj_04.jpg"></section>*@

        <section class="js-gotoform"><img src="/content/hjimages/hj_04.jpg" data-ratio="0.452" data-src="/content/hjimages/hj_04.jpg"></section>


        <section><img src="http://hjimg.andus-china.com/xy/hj_05.jpg" data-ratio="1.198667" data-src="http://hjimg.andus-china.com/xy/hj_05.jpg"></section>
        <section style="display:none;"><img src="http://hjimg.andus-china.com/xy/hj_06.jpg" data-ratio="1.3866666666666667" data-src="http://hjimg.andus-china.com/xy/hj_06.jpg"></section>
        <section class="js-gotoform"><img src="/content/hjimages/hj_04.jpg" data-ratio="0.452" data-src="/content/hjimages/hj_04.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_07.jpg" data-ratio="0.684" data-src="http://hjimg.andus-china.com/xy/hj_07.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_08.jpg" data-ratio="0.7213333333333334" data-src="http://hjimg.andus-china.com/xy/hj_08.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_09.jpg" data-ratio="0.49466666666666664" data-src="http://hjimg.andus-china.com/xy/hj_09.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_10.jpg" data-ratio="1.712" data-src="http://hjimg.andus-china.com/xy/hj_10.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_11.jpg" data-ratio="1.8613333333333333" data-src="http://hjimg.andus-china.com/xy/hj_11.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_12.jpg" data-ratio="1.3586666666666667" data-src="http://hjimg.andus-china.com/xy/hj_12.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_13.jpg" data-ratio="1.1253333333333333" data-src="http://hjimg.andus-china.com/xy/hj_13.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_14.jpg" data-ratio="0.7613333333333333" data-src="http://hjimg.andus-china.com/xy/hj_14.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_15.jpg" data-ratio="0.964" data-src="http://hjimg.andus-china.com/xy/hj_15.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_16.jpg" data-ratio="0.544" data-src="http://hjimg.andus-china.com/xy/hj_16.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_17.jpg" data-ratio="0.9626666666666667" data-src="http://hjimg.andus-china.com/xy/hj_17.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_18.jpg" data-ratio="1.136" data-src="http://hjimg.andus-china.com/xy/hj_18.jpg"></section>
        <section><img src="http://hjimg.andus-china.com/xy/hj_19.jpg" data-ratio="0.088" data-src="http://hjimg.andus-china.com/xy/hj_19.jpg"></section>


         


        <div class="js-form">
            <form action="#" id="buyForm">
                <table>
                    <colgroup>
                        <col width="25%">
                        <col width="75%">
                    </colgroup>
                    <tr>
                        <td><strong>*</strong>套餐选择</td>
                        <td class="sale-type">
                            <div>
                                <span class="selected" data-type="1" data-price="268" data-name="买1支送1支268元(2支)">买1支送1支268元(2支)</span>
                            </div>
                            <div>
                                <span data-type="2" data-price="728" data-name="买3支送3支728元(6支)">买3支送3支728元(6支)</span>
                            </div>
                            <div>
                                <span data-type="3" data-price="1188" data-name="买1箱送1箱1188元(12支)">买1箱送1箱1188元(12支)</span>
                            </div>
                            <input type="hidden" name="saletype">
                            <input type="hidden" name="saleprice" id="saleprice" value="">
                        </td>
                    </tr>
                    <tr class="add-minus">
                        <td><strong>*</strong>定单数量</td>
                        <td><span>-</span><input type="text" value="1" id="txtcount"><span>+</span></td>
                    </tr>
                    <tr>
                        <td>定单价格</td>
                        <td><strong class="price">268.00</strong><span class="pt5">元</span></td>
                    </tr>
                    <tr>
                        <td><strong>*</strong>收货人名</td>
                        <td><input class="js-input" name="username" type="text" placeholder="请输入您的姓名或称呼"></td>
                    </tr>
                    <tr>
                        <td><strong>*</strong>手机号码</td>
                        <td>
                            <input class="js-input" name="phone" style="width:50%" type="text" id="txtphone" placeholder="请输入您的手机号码">
                            <script type="text/javascript">
                                var countdown = 60;
                                function setcode(obj) {
                                    var issuccess = false;
                                    $.post("/OrderServiceX/ValidateCode?rd=" + Math.random(), { phone: $.trim($("#txtphone").val()), md: Math.random() }, function (data) {

                                        if (data.state != "success") {
                                            alert('验证码发送失败，请从新点击发送');
                                            window.location.reload();
                                            return;
                                        }
                                    });

                                    settime(obj);
                                }
                                function settime(obj) {

                                    if (countdown == 0) {
                                        obj.removeAttribute("disabled");
                                        obj.value = "获取验证码";
                                        countdown = 60;

                                        return;
                                    } else {
                                        obj.setAttribute("disabled", true);
                                        obj.value = "重新发送(" + countdown + ")";
                                        countdown--;
                                    }
                                    setTimeout(function () {
                                        settime(obj)
                                    }
                                        , 1000)
                                }

                            </script>
                            <input type="button" id="button1" style="width:25%;width:100px;line-height:18px;" value="获取验证码" onclick="setcode(this)" />

                             

                        </td>
                    </tr>
                    <tr>
                        <td><strong>*</strong>验证码</td>
                        <td><input class="js-input" name="txtcode" type="text" id="txtcode" style="width:30%" placeholder="请输入您的短信验证码"></td>
                    </tr>
                    <tr>
                        <td><strong>*</strong>选择地区</td>
                        <td><input class="js-input" name="area" type="text" id="city-picker" placeholder="请输入您的所在地区"></td>
                    </tr>
                    <tr>
                        <td><strong>*</strong>详细地址</td>
                        <td><textarea class="js-input" name="addess" placeholder="请填写您的详细地址"></textarea></td>
                    </tr>
                    <tr>
                        <td>留言备注</td>
                        <td><textarea class="js-input" name="msg" data-noneed="1" placeholder="如备用电话、商品数量、收货时间等，有额外需求请留言"></textarea></td>
                    </tr>
                    <tr>
                        <td><strong>*</strong>支付方式</td>
                        <td>
                            <div><img src="http://hjimg.andus-china.com/xy/paytype.jpg" style="width:50%"></div>
                            <div class="btmsg">选择货到付款，安全放心</div>
                        </td>
                    </tr>
                </table>

            </form>

        </div>
        <section class="js-submit"><img src="http://hjimg.andus-china.com/xy/hj_20.jpg" data-ratio="0.21066666666666667" data-src="http://hjimg.andus-china.com/xy/hj_20.jpg"></section>
    </div>
    <div style="text-align:center;">
        <p>深圳市前海佰迈投资有限公司</p>
        <p>京ICP备16030066号-1</p>


    </div>
    <script type="text/javascript">

        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    </script>
    <script type="text/javascript" src="/Content/jsstorage/app.js"></script>
</body>
	
</html>