@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>茅台海峡两岸酒</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/Content/xy/js/weui.css">
    <link rel="stylesheet" href="/Content/xy/js/jquery-weui.css">
    <link rel="stylesheet" href="/Content/xy/css/index.css">

</head>
<body>
 <img src='/content/img/320.png' style="margin:0 auto;display:none;"/>
    <div class="container">
        <img src="/Content/xy/images/index-01.png" alt="">
        <img src="/Content/xy/images/index-02.png" alt="" style="margin-top:10px">
        <img src="/Content/xy/images/index-03.png" alt="">
        <img src="/Content/xy/images/index-04.png" alt="">
        <img src="/content/xy/images/index-05.png" alt="">
        <img src="/Content/xy/images/index-06.png" alt="">
        <img src="/Content/xy/images/index-07.png" alt="">
        <img src="/Content/xy/images/index-08.png" alt="">
        <img src="/Content/xy/images/index-09.png" alt="">
        <img src="/Content/xy/images/index-10.png" alt="">
        <img src="/Content/xy/images/index-11.png" alt="">
        <img src="/Content/xy/images/index-12.png" alt="">
        
        <style>

            .form-cell label {
                width: 22%;
            }

            .form-cell-con select {
                border: none;
                width: 99%;
                outline: none;
                box-sizing: border;
                padding: 5px;
                margin-bottom: 0px;
            }

            .tc-chks {
                height: auto;
            }

                .tc-chks .form-cell-con {
                    border: none;
                    width: auto;
                    margin-top: 7px;
                }

                    .tc-chks .form-cell-con label {
                        width: 100%;
                        display: block;
                        text-align: left;
                        float: none;
                        line-height: 1.5;
                        vertical-align: middle;
                    }

                    .tc-chks .form-cell-con input {
                        width: auto;
                        float: none;
                        line-height: 1;
                        height: auto;
                        margin-right: 5px;
                        display: inline-block;
                    }
        </style>
        <div style="margin:20px 0 0 0">
            <form action="/" id="buyForm">
                <div class="form-cell tc-chks clearfix">
                    <label for="" class="required">产品</label>
                    <div class="form-cell-con">
                        <label><input type="radio" name="tc" checked value="388" t="套餐一: 1瓶 388元">套餐一: 1瓶 388元</label>
                        <label><input type="radio" name="tc" value="688" t="套餐二: 2瓶 688元">套餐二: 2瓶 688元</label>
                        <label><input type="radio" name="tc" value="2088" t="套餐三: 1箱(六瓶) 1988元">套餐三: 1箱(六瓶) 1988元</label>
                    </div>
                </div>
                <div class="form-cell clearfix">
                    <label for="" class="required">数量</label>
                    <div class="form-cell-con clearfix sum-box" style="width:30%;padding:0 15px;">
                        <div class="reduce">-</div>
                        <input type="text" required value="1" data-type="count" name="count" id="count">
                        <div class="add">+</div>
                    </div>
                </div>
                <div class="form-cell clearfix">
                    <label for="" class="required">姓名</label>
                    <div class="form-cell-con">
                        <input type="text" placeholder="" required data-type="name" name="name" id="name">
                    </div>
                </div>
                <div class="form-cell clearfix">
                    <label for="" class="required">手机</label>
                    <div class="form-cell-con">
                        <input type="text" placeholder="" required data-type="tel" name="tel" id="tel">
                    </div>
                </div>
                @*<div class="form-cell code clearfix" style="display:none">
                    <label for="" class="required " style="float: left">验证码</label>
                    <div class="form-cell-con">
                        <input type="text" placeholder="" required data-type="code">
                    </div>
                    <a herf="javascript:;">获取手机验证码</a>
                </div>*@
                <div class="form-cell clearfix">
                    <label for="" class="required">地区</label>
                    <div class="form-cell-con">
                        <input type="text" id="city-picker" placeholder="请选择地区" data-type="city" required readonly name="city" />
                    </div>
                </div>
                <div class="form-cell clearfix">
                    <label for="" class="required">地址</label>
                    <div class="form-cell-con">
                        <input type="text" placeholder="" required data-type="address" name="address" id="address">
                    </div>
                </div>

                @*<div class="form-cell pay-cell clearfix">
                    <label for="" class="required">付款</label>
                    <input type="radio" required data-type="type" id="type" name="type">
                    <span style="font-size: 18px">货到付款</span>
                </div>*@
                <div class="form-cell text-cell clearfix">
                    <label for="">留言</label>
                    <textarea name="remark" id="remark"></textarea>
                </div>
                <a href="javascript:;" class="btn">立即提交订单</a>
            </form>
        </div>
        <span class="name"></span>
    </div>
   
    <div class="warning"></div>
    <script src="/Content/xy/js/jquery-2.1.4.js"></script>
    <script src="/Content/xy/js/jquery-weui.js"></script>
    <script src="/Content/xy/js/jquery.form.min.js"></script>
    <script src="/Content/xy/js/city-picker.js"></script>
    <script src="/content/xy/js/index.js"></script>

    <script>

    </script>
	<div style="text-align:center;">安德优思（北京）科技有限公司 Copyright© 2007-2020 京ICP备16030066号-1</div>
</body>
</html>