@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/Order/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '姓名', name: 'F_UserName', width: 80, align: 'center' },
                { label: '手机', name: 'F_UserTelphone', width: 80, align: 'center' },
               
                { label: '地区', name: 'F_ShortAddress', width: 120, align: 'left' },

                { label: '地址', name: 'F_Address', width: 120, align: 'left' },
                {
                    label: '产品名称', name: 'F_ProductName', width: 180, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue!=null) {
                            return cellvalue;
                        } else {
                            return '';
                        }

                    }
                },
                {
                    label: '付款类型', name: 'F_PayType', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 1) {
                            return '货到付款';
                        } else if (cellvalue == 0) {
                            return '在线支付';
                        } else
                            return '-';
                    }
                },
                { label: '金额(单位/元)', name: 'F_Total', width: 80, align: 'center' },
                {
                    label: '订单来源', name: 'F_Source', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 1) {
                            return '微信';
                        }
                        if (cellvalue == 2) {
                            return '淘宝';
                        } 
                        else {
                            return '';
                        }

                    }
                },
                {
                    label: '支付状态', name: 'F_Status', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 0) {
                            return '未支付';
                        } else if (cellvalue == 1) {
                            return '已支付';
                        }
                        else {
                            return '';
                        }

                    }
                },
                {
                    label: '发货状态', name: 'F_OrderType', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                       
                        if (cellvalue == 0) {
                            return '未发货';
                        }
                        else if (cellvalue == 1) {
                            return '已发货';
                        }
                        else {
                            return '';
                        }

                    }
                },
                { label: '下单时间', name: 'F_CreatorTime', width: 150, align: 'center' },
                { label: '备注', name: 'F_Remark', width: 150, align: 'left' },
                {
                    label: '沟通状态', name: 'F_TalkStatus', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 0) {
                            return '<span class=\"label label-success\">未沟通</span>';
                        }else {
                            return '<span class=\"label label-default\">已沟通</span>';
                        }

                    }
                }
 
            ],
            pager: "#gridPager",
            sortname: 'F_DepartmentId asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增订单",
            url: "/SystemManage/Order/Form",
            width: "500px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改用户",
            url: "/SystemManage/User/Form?keyValue=" + keyValue,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/SystemManage/Order/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
      
    }
    //function btn_details() {
    //    var keyValue = $("#gridList").jqGridRowValue().F_Id;
    //    $.modalOpen({
    //        id: "Details",
    //        title: "查看订单",
    //        url: "/SystemManage/Order/Details?keyValue=" + keyValue,
    //        width: "700px",
    //        height: "550px",
    //        btn: null,
    //    });
    //}
    function btn_revisepassword() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        var Account = $("#gridList").jqGridRowValue().F_Account;
        var RealName = $("#gridList").jqGridRowValue().F_RealName;
        $.modalOpen({
            id: "RevisePassword",
            title: '重置密码',
            url: '/SystemManage/User/RevisePassword?keyValue=' + keyValue + "&account=" + escape(Account) + '&realName=' + escape(RealName),
            width: "450px",
            height: "260px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_disabled() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【禁用】该项账户吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SystemManage/User/DisabledAccount",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    //已沟通
    function btn_talked() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：确定把订单【沟通状态】设置已沟通？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SystemManage/Order/StartTalk",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    //已发货
    function btn_sendedpackage() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：确定把订单【发货状态】设置已已发货吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SystemManage/Order/StartSendPackage",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>录入订单</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>订单详情</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除订单</a></li>


                <li class="split"></li>
                <li><a id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>未发货</a></li>
                <li><a id="NF-SendedPackage" authorize="yes" onclick="btn_sendedpackage()"><i class="fa fa-play-circle"></i>已发货</a></li>
                <li><a id="NF-Talked" authorize="yes" onclick="btn_talked()"><i class="fa fa-play-circle"></i>已沟通</a></li>
 
 
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        @*<table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="账户/姓名/手机" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>*@
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
