@charset "UTF-8";
.form-piece .input-group-i,
.form-piece .select-group,
.form-piece .selectMulti-group,
.form-piece .textarea-group,
.form-piece .city-group,
.form-piece .date-group,
.form-piece .gender-group,
.form-piece .checkbox-group,
.form-piece .radio-group {
  padding: 5px 18px;
  position: relative;
  border-collapse: separate; }
.form-piece .select-addon,
.form-piece .city-addon,
.form-piece .date-addon,
.form-piece .gender-addon,
.form-piece .textarea-addon,
.form-piece .checkbox-addon,
.form-piece .radio-addon,
.form-piece .input-group-i .input-group-addon-i {
  font-size: 12px;
  color: #464646;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
  color: #808080; }
.form-piece .warn-star:after {
  content: ' *';
  color: #f85959; }
.form-piece .nor-btn,
.form-piece .btn-i {
  display: block;
  cursor: pointer;
  color: #fff;
  height: 42px;
  line-height: 42px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  padding: 0;
  border: none;
  border-radius: 4px;
  -webkit-user-select: none; }
.form-piece .nor-btn:active {
  opacity: 0.7; }
.form-piece .btn-i {
  width: 100%; }
  .form-piece .btn-i:active {
    opacity: 0.7; }
.form-piece .form-control {
  height: 40px; }
.form-piece .validate-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  background: rgba(127, 127, 127, 0.5);
  z-index: 4; }
  .form-piece .validate-wrapper .validate-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    background: #fff;
    padding: 25px 15px;
    margin: 0 auto;
    box-shadow: 0 0 2px 2px rgba(127, 127, 127, 0.6);
    z-index: 5;
    border-radius: 2px; }
    .form-piece .validate-wrapper .validate-dialog .close {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      width: 30px;
      height: 40px;
      padding: 10px 0; }
    .form-piece .validate-wrapper .validate-dialog .title {
      font-size: 18px;
      width: 50%;
      border-bottom: 1px solid #FF5454;
      margin: 0 auto;
      margin-top: 10px;
      text-align: center; }
    .form-piece .validate-wrapper .validate-dialog input {
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0; }
    .form-piece .validate-wrapper .validate-dialog .sms-info,
    .form-piece .validate-wrapper .validate-dialog .spam-info {
      color: red;
      height: 70px;
      line-height: 25px;
      text-align: center;
      padding: 20px 0 0 0; }
    .form-piece .validate-wrapper .validate-dialog .pic-validate,
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate,
    .form-piece .validate-wrapper .validate-dialog .sms-validate {
      display: flex;
      margin: 10px 0; }
    .form-piece .validate-wrapper .validate-dialog .pic-validate img,
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate img,
    .form-piece .validate-wrapper .validate-dialog .sms-validate img {
      min-width: 80px;
      height: 40px;
      margin: 0 10px;
      border: 1px solid #e8e8e8; }
    .form-piece .validate-wrapper .validate-dialog .pic-validate .decor-line,
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate .decor-line,
    .form-piece .validate-wrapper .validate-dialog .sms-validate .decor-line {
      margin-left: 10px;
      flex-shrink: 0;
      border-right: 1px solid #e8e8e8; }
    .form-piece .validate-wrapper .validate-dialog .pic-validate .nor-btn,
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate .nor-btn,
    .form-piece .validate-wrapper .validate-dialog .sms-validate .nor-btn {
      height: 40px;
      padding: 0 10px;
      min-width: 100px; }
    .form-piece .validate-wrapper .validate-dialog .pic-validate input.spam-sms-captcha,
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate input.spam-sms-captcha,
    .form-piece .validate-wrapper .validate-dialog .sms-validate input.spam-sms-captcha {
      margin-right: 10px; }
    .form-piece .validate-wrapper .validate-dialog .pic-validate .refresh-pic-btn,
    .form-piece .validate-wrapper .validate-dialog .pic-validate .spam-refresh-pic-btn {
      width: 16%;
      min-width: 50px;
      color: #48A3FC;
      background-color: #FAFAFA;
      flex-shrink: 0;
      background: #fff;
      padding: 0; }
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate .refresh-pic-btn,
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate .spam-refresh-pic-btn {
      width: 16%;
      min-width: 50px;
      color: #48A3FC;
      background-color: #FAFAFA;
      flex-shrink: 0;
      background: #fff;
      padding: 0; }
    .form-piece .validate-wrapper .validate-dialog .sms-validate .refresh-pic-btn,
    .form-piece .validate-wrapper .validate-dialog .sms-validate .spam-refresh-pic-btn {
      width: 16%;
      min-width: 50px;
      color: #48A3FC;
      background-color: #FAFAFA;
      flex-shrink: 0;
      background: #fff;
      padding: 0; }
    .form-piece .validate-wrapper .validate-dialog .pic-validate .spam-send-sms,
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate .spam-send-sms,
    .form-piece .validate-wrapper .validate-dialog .sms-validate .spam-send-sms {
      width: 124px;
      flex-shrink: 0;
      color: #48A3FC;
      background-color: #FAFAFA; }
    .form-piece .validate-wrapper .validate-dialog .pic-validate .spam-send-sms.disabled,
    .form-piece .validate-wrapper .validate-dialog .spam-sms-validate .spam-send-sms.disabled,
    .form-piece .validate-wrapper .validate-dialog .sms-validate .spam-send-sms.disabled {
      color: #9B9B9B; }
    .form-piece .validate-wrapper .validate-dialog .send_sms_validate,
    .form-piece .validate-wrapper .validate-dialog .spam-submit {
      margin-top: 50px;
      border-radius: 2px; }
.form-piece .input-group-i .style2-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px 30px;
  pointer-events: none;
  color: #999; }
.form-piece .input-group-i .form-control-error {
  margin-top: .5em;
  color: #c7254e; }
.form-piece .input-group-i .sms-validate {
  margin: 10px 0; }
  .form-piece .input-group-i .sms-validate .form-control {
    float: left;
    width: 60%; }
  .form-piece .input-group-i .sms-validate .btn-wrapper {
    float: left;
    width: 40%;
    padding-left: 10px; }
  .form-piece .input-group-i .sms-validate .send-sms {
    font-size: 14px;
    line-height: 40px;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 0 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    opacity: 0.7; }
    .form-piece .input-group-i .sms-validate .send-sms.disabled {
      background-color: #9B9B9B; }
.form-piece .input-group-i .form-autocomplete-list {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  left: 1em;
  right: 1em;
  margin-top: -2px;
  padding: 0 1em;
  max-height: 132px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-overflow-scrolling: touch; }
.form-piece .input-group-i .form-autocomplete-item {
  height: 40px;
  line-height: 40px;
  padding: 0 .5em;
  position: relative; }
  .form-piece .input-group-i .form-autocomplete-item:active {
    background-color: #f5f5f5; }
  .form-piece .input-group-i .form-autocomplete-item ~ .form-autocomplete-item:before {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid #ddd;
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top; }
.form-piece .textarea-group .content {
  display: block;
  position: relative;
  margin-bottom: 0;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px; }
.form-piece .textarea-group .style2-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px 30px;
  pointer-events: none;
  color: #999; }
.form-piece .selectMulti-group {
  /*存储select所选的值*/ }
  .form-piece .selectMulti-group .select-checkbox select {
    display: none; }
  .form-piece .selectMulti-group .select-checkbox .cbx-item {
    margin: 10px 20px 0 0;
    display: inline-block;
    font-weight: normal; }
    .form-piece .selectMulti-group .select-checkbox .cbx-item input {
      margin: 2px 5px 0 0;
      width: 18px;
      height: 18px; }
  .form-piece .selectMulti-group .selectMulti-wrapper .select-wrapper:not(:first-child) {
    margin-top: 10px; }
  .form-piece .selectMulti-group .multi-select {
    display: none; }
.form-piece .date-group .form-date {
  -webkit-appearance: none;
  line-height: 22px; }
.form-piece .city-group .pro-list,
.form-piece .city-group .city-list {
  width: 80%;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle; }
.form-piece .city-group .city-group-province {
  padding-right: 5px;
  padding-left: 0; }
.form-piece .city-group .city-group-city {
  padding-left: 5px;
  padding-right: 0; }
.form-piece .city-group .city-control {
  display: block;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.form-piece .checkbox-group label,
.form-piece .radio-group label,
.form-piece .gender-group label {
  height: 20px;
  line-height: 20px; }
.form-piece .checkbox-group .radio-box [type="radio"],
.form-piece .checkbox-group .checkbox-box [type="checkbox"] {
  margin-right: 10px; }
.form-piece .radio-group .radio-box [type="radio"],
.form-piece .radio-group .checkbox-box [type="checkbox"] {
  margin-right: 10px; }
.form-piece .gender-group .radio-box [type="radio"],
.form-piece .gender-group .checkbox-box [type="checkbox"] {
  margin-right: 10px; }
.form-piece .checkbox-group .radio-box label,
.form-piece .checkbox-group .checkbox-box label {
  font-weight: normal; }
.form-piece .radio-group .radio-box label,
.form-piece .radio-group .checkbox-box label {
  font-weight: normal; }
.form-piece .gender-group .radio-box label,
.form-piece .gender-group .checkbox-box label {
  font-weight: normal; }
.form-piece .checkbox-group .radio-box label,
.form-piece .checkbox-group .checkbox-box label {
  margin-right: 15px; }
.form-piece .radio-group .radio-box label,
.form-piece .radio-group .checkbox-box label {
  margin-right: 15px; }
.form-piece .gender-group .radio-box label,
.form-piece .gender-group .checkbox-box label {
  margin-right: 15px; }
.form-piece .checkbox-group .radio-group .radio-select,
.form-piece .checkbox-group .checkbox-group .checkbox-select {
  display: none; }
.form-piece .radio-group .radio-group .radio-select,
.form-piece .radio-group .checkbox-group .checkbox-select {
  display: none; }
.form-piece .gender-group .radio-group .radio-select,
.form-piece .gender-group .checkbox-group .checkbox-select {
  display: none; }
.form-piece .form-count {
  display: none;
  margin: 6px 0; }
  .form-piece .form-count .split-count {
    flex: 1;
    border-bottom: solid 1px #E8E8E8;
    height: 10px;
    margin: 0 8px; }
  .form-piece .form-count .count-text {
    font-size: 10px;
    line-height: 18px;
    color: #505050; }
  .form-piece .form-count .count-text-num {
    margin: 0 5px;
    font-size: 15px;
    line-height: 1.2;
    color: red; }
.form-piece .m-input-text {
  position: relative;
  /* 清除框位于输入框的兄弟位置 */ }
  .form-piece .m-input-text .el-input-clear {
    display: none;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    border-radius: 8px;
    background-color: #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
    .form-piece .m-input-text .el-input-clear:after, .form-piece .m-input-text .el-input-clear:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #fff; }
    .form-piece .m-input-text .el-input-clear:after {
      width: 1px;
      height: 70%; }
    .form-piece .m-input-text .el-input-clear:before {
      width: 70%;
      height: 1px; }
  .form-piece .m-input-text .form-input-i:valid + .el-input-clear {
    display: block; }
.form-piece .form-tel-autofillbtn {
  position: relative;
  overflow: hidden;
  padding: 5px 18px;
  border-collapse: separate; }
  .form-piece .form-tel-autofillbtn input[type="checkbox"].tel-check {
    vertical-align: middle;
    margin-top: -2px;
    margin-bottom: 1px; }
  .form-piece .form-tel-autofillbtn .tel-tips {
    color: #999;
    font-weight: normal; }
.form-piece .recent-submit-content {
  color: #444444;
  margin: 5px 21px 15px;
  position: relative; }
  .form-piece .recent-submit-content.style1 .iconeditor-notification {
    display: none; }
  .form-piece .recent-submit-content.style1 .recent-notification {
    display: none; }
  .form-piece .recent-submit-content.style2 .swiper-container {
    height: 35px;
    margin-left: 30px; }
  .form-piece .recent-submit-content.style2 .recent-title {
    display: none; }
  .form-piece .recent-submit-content.style2 .recent-notification {
    position: absolute;
    top: 6px;
    color: #ff635c; }
  .form-piece .recent-submit-content .recent-title {
    color: #fff;
    line-height: 35px;
    text-align: center; }
  .form-piece .recent-submit-content .swiper-container {
    overflow: hidden;
    height: 150px; }
    .form-piece .recent-submit-content .swiper-container .recent-title {
      height: 35px; }
    .form-piece .recent-submit-content .swiper-container li {
      justify-content: space-around;
      align-items: center;
      display: flex;
      font-size: 13px; }
      .form-piece .recent-submit-content .swiper-container li .iconeditor-notification {
        flex-grow: 1;
        width: 20px;
        color: #f85959; }
      .form-piece .recent-submit-content .swiper-container li.threecol .text {
        flex-grow: 0;
        text-overflow: ellipsis; }
        .form-piece .recent-submit-content .swiper-container li.threecol .text.name {
          min-width: 30%; }
        .form-piece .recent-submit-content .swiper-container li.threecol .text.phone {
          width: 33%; }
        .form-piece .recent-submit-content .swiper-container li.threecol .text.name, .form-piece .recent-submit-content .swiper-container li.threecol .text.phone {
          text-align: left; }
        .form-piece .recent-submit-content .swiper-container li.threecol .text.time {
          width: 30%;
          text-align: right; }
      .form-piece .recent-submit-content .swiper-container li.fourcol .text {
        flex-grow: 0; }
        .form-piece .recent-submit-content .swiper-container li.fourcol .text.name {
          width: 15%; }
        .form-piece .recent-submit-content .swiper-container li.fourcol .text.phone {
          width: 25%; }
        .form-piece .recent-submit-content .swiper-container li.fourcol .text.city {
          width: 20%;
          text-align: center; }
        .form-piece .recent-submit-content .swiper-container li.fourcol .text.name, .form-piece .recent-submit-content .swiper-container li.fourcol .text.phone {
          text-align: left; }
        .form-piece .recent-submit-content .swiper-container li.fourcol .text.time {
          width: 20%;
          text-align: right; }
    .form-piece .recent-submit-content .swiper-container table td {
      text-align: left; }

form {
  padding-top: 10px; }
  form.input-style1 .input-group-i,
  form.input-style1 [class*="-group"] {
    min-height: 40px;
    overflow: hidden; }
  form.input-style1 .input-group-i span.input-group-addon-i,
  form.input-style1 .date-group span.date-addon,
  form.input-style1 .selectMulti-group span.select-addon,
  form.input-style1 .textarea-group span.textarea-addon,
  form.input-style1 .gender-group span.gender-addon,
  form.input-style1 .radio-group span.radio-addon,
  form.input-style1 .checkbox-group span.checkbox-addon,
  form.input-style1 .city-group span.city-addon {
    float: left;
    width: 20%;
    overflow: hidden;
    line-height: 40px;
    margin-bottom: 0;
    text-align: left; }
  form.input-style1 input[type="radio"], form.input-style1 input[type="checkbox"] {
    margin-top: 13px; }
  form.input-style1 .input-group-i input,
  form.input-style1 .date-group input {
    height: 40px;
    width: 80%; }
  form.input-style1 .input-group-i .sms-validate {
    padding-left: 20%; }
    form.input-style1 .input-group-i .sms-validate span.input-group-addon-i {
      float: none;
      width: 40%; }
    form.input-style1 .input-group-i .sms-validate .form-control {
      width: 40%; }
    form.input-style1 .input-group-i .sms-validate .btn-wrapper {
      width: 60%; }
  form.input-style1 .city-box,
  form.input-style1 .radio-box,
  form.input-style1 .checkbox-box,
  form.input-style1 .selectMulti-group .selectMulti-wrapper {
    width: 80%;
    min-height: 40px;
    margin-left: 20%; }
  form.input-style1 .city-group .city-box {
    padding: 0; }
  form.input-style1 .textarea-group textarea {
    width: 80%;
    margin-left: 20%; }
  form.input-style1 .gender-group label,
  form.input-style1 .radio-group label,
  form.input-style1 .checkbox-group label {
    height: 40px;
    line-height: 40px; }
  form.input-style1 .sms-validate {
    margin-left: 20%; }
  form.input-style2 .input-group-i span.input-group-addon-i,
  form.input-style2 .textarea-group span.textarea-addon {
    display: none; }
  form.input-style4 {
    padding-top: 0; }
    form.input-style4 .ui-style4-input {
      padding: 0 35px;
      margin-top: 10px; }
      form.input-style4 .ui-style4-input input[type="text"] {
        border: none;
        border-radius: 0;
        padding: 0;
        font-size: 16px;
        text-indent: 2px;
        box-shadow: none; }
    form.input-style4 .ui-style4-sub {
      margin-top: 30px !important;
      padding: 0 35px; }
    form.input-style4 .ui-style4-btn {
      font-size: 17px;
      border-radius: 6px;
      height: 45px; }
  form .m-title {
    font-size: 17px;
    text-align: center;
    padding-top: 35px;
    color: #222; }
    form .m-title > h2 {
      font-size: 17px;
      height: 22px;
      white-space: nowrap;
      overflow: hidden;
      -webkit-text-overflow: ellipsis;
      text-overflow: ellipsis; }
  form .m-astitle > h5 {
    font-size: 12px;
    color: #999;
    text-align: center;
    padding: 10px 0; }
  form .el-result {
    position: absolute;
    text-align: center;
    color: #f00;
    font-size: 12px;
    left: 0;
    right: 0;
    top: -18px; }
  form .el-line4 {
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

.btn-jump {
  width: 58px;
  height: 58px;
  z-index: 9999;
  margin: 10px auto;
  opacity: 0.7;
  border-radius: 50%;
  background-image: url("//s3.pstatp.com/bytecom/resource/tetris/images/form_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  outline: none;
  border: 1px solid transparent; }
  .btn-jump:focus, .btn-jump:active, .btn-jump:hover {
    outline: none;
    outline: 0 !important;
    opacity: 0.5; }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .piece.form-piece {
    padding: 0 15px; } }
@media screen and (min-width: 1440px) {
  .piece.form-piece {
    padding: 0 30px; } }

/*# sourceMappingURL=form.css.map */
